<div id="wrapper">
  <!-- content begin -->
  <div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <section id="subheader" class="text-light"
      style="background: url('/assets/images/background/2.jpg') center top / cover;">
      <div class="center-y relative text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>My Hauntoo</h1>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </section>

    <section aria-label="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="d_profile de-flex" style="margin-bottom: 0px;">
              <div class="de-flex-col">
                <div class="profile_avatar">
                  <img src="assets/images/author_single/author_thumbnail.jpg" alt="">
                  <i class="fa fa-check"></i>
                  <div class="profile_name">
                    <h4>
                      <span class="profile_username" style="font-size: 35px;">{{nickname}}</span>
                      <span id="wallet" class="profile_wallet">{{account}}</span>
                      <button id="btn_copy" title="Copy Text">Copy</button>
                    </h4>
                  </div>
                </div>
              </div>
              <div>
                <button [routerLink]="['/hauntoo/summoning']" class="btn btn-secondary"
                  style="margin-top:90%;height:35%">Summoning</button>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="de_tab tab_simple">

              <div class="de_tab_content">
                <div class="tab-1">
                  <div class="row">
                    <div *ngIf="metadata.length==0">
                      <h2>There is no hauntoo of your own.</h2><br>
                      <h2>Buy some hauntoos to start enjoyable hauntoo life.</h2><br>
                    </div>
                    <div *ngFor="let it of metadata | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count }" class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                      <div class="nft__item">
                        <div class="nft__item_wrap">
                          <a [routerLink]="['/item', it.hauntooid]" routerLinkActive="active">
                            <img src={{it.image}} class="lazy nft__item_preview" alt="">
                          </a>
                        </div>
                        <div class="nft__item_info">
                          #{{it.hauntooid}}
                          <span style="vertical-align: middle;" *ngIf="it.price">{{it.price.toFixed(3)}} FTM</span>
                        </div>
                        <div class="nft__item_price">
                          <i class="fa fa-transgender"></i>&nbsp;Gen
                          {{it.generation}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                            class="fa fa-clock-o"></i>&nbsp;{{it.cooldown_index}}
                        </div>
                        <a role="button" cursor="pointer" *ngIf="checkPregger(it)" (click)="giveBirthHauntoo(it)">
                          <img class="egg" src="/assets/images/hauntoo-egg.png" alt="" />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center" style="margin-top: 25px;">
              <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </section>


  </div>
  <!-- content close -->

  <a href="#" id="back-to-top"></a>

  <!-- footer begin -->
  <footer class="footer-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-1">
          <div class="widget">
            <h5>Marketplace</h5>
            <ul>
              <li><a href="#">All NFTs</a></li>
              <li><a href="#">Art</a></li>
              <li><a href="#">Music</a></li>
              <li><a href="#">Domain Names</a></li>
              <li><a href="#">Virtual World</a></li>
              <li><a href="#">Collectibles</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-1">
          <div class="widget">
            <h5>Resources</h5>
            <ul>
              <li><a href="#">Help Center</a></li>
              <li><a href="#">Partners</a></li>
              <li><a href="#">Suggestions</a></li>
              <li><a href="#">Discord</a></li>
              <li><a href="#">Docs</a></li>
              <li><a href="#">Newsletter</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-1">
          <div class="widget">
            <h5>Community</h5>
            <ul>
              <li><a href="#">Community</a></li>
              <li><a href="#">Documentation</a></li>
              <li><a href="#">Brand Assets</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Forum</a></li>
              <li><a href="#">Mailing List</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-1">
          <div class="widget">
            <h5>Newsletter</h5>
            <p>Signup for our newsletter to get the latest news in your inbox.</p>
            <form action="https://www.designesia.com/themes/gigaland/blank.php" class="row form-dark"
              id="form_subscribe" method="post" name="form_subscribe">
              <div class="col text-center">
                <input class="form-control" id="txt_subscribe" name="txt_subscribe" placeholder="enter your email"
                  type="text" /> <a href="#" id="btn-subscribe"><i class="arrow_right bg-color-secondary"></i></a>
                <div class="clearfix"></div>
              </div>
            </form>
            <div class="spacer-10"></div>
            <small>Your email is safe with us. We don't spam.</small>
          </div>
        </div>
      </div>
    </div>
    <div class="subfooter">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="de-flex">
              <div class="de-flex-col">
                <a href="index.html">
                  <span class="copy">&copy;
                    Copyright
                    2021 - CryptoHauntoo by Designesia</span>
                </a>
              </div>
              <div class="de-flex-col">
                <div class="social-icons">
                  <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                  <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                  <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                  <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                  <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer close -->

</div>

<div class="modal fade" id="happyBorn" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Congratulations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        Your new baby hauntoo has born!
      </div>
    </div>
  </div>
</div>

<div id="selector">
  <span id="dark-mode">
    Switch Dark Scheme
  </span>
</div>

<router-outlet></router-outlet>