<ng-lottie [options]="options" (animationCreated)="animationCreated($event)" *ngIf="loading==1"
  style="position:fixed; z-index: 10000;left:32%;top:14%;">
</ng-lottie>

<div id="wrapper" [ngStyle]="globalFilterStyle()">
  <!-- content begin -->
  <div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="text-light"
      style="background: url('/assets/images/background/2.jpg') center top / cover;">
      <div class="center-y relative text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>Create Gen0 Hauntoo as much as you want!</h1>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- section close -->
    <section aria-label="section" class="mt90 sm-mt-0" style="padding-top:50px; margin-top: 0px;">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center" style="width: 40%;">
            <img src="/assets/images/create/back.png" class="img-fluid img-rounded mb-sm-30" alt="">
          </div>
          <div class="col-md-6 text-center" style="width: 60%;">
            <p class="l1">Amount of Gen0 Hauntoo:&nbsp;</p>
            <input class="l1" id="hauntoo_amount">
            <button (click)="generate()" class="button">RANDOM GENERATE</button>
          </div>
        </div>
      </div>
    </section>

    <a href="#" id="back-to-top"></a>

    <!-- footer begin -->
    <footer class="footer-light">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-1">
            <div class="widget">
              <h5>Marketplace</h5>
              <ul>
                <li><a href="#">All NFTs</a></li>
                <li><a href="#">Art</a></li>
                <li><a href="#">Music</a></li>
                <li><a href="#">Domain Names</a></li>
                <li><a href="#">Virtual World</a></li>
                <li><a href="#">Collectibles</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-1">
            <div class="widget">
              <h5>Resources</h5>
              <ul>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Suggestions</a></li>
                <li><a href="#">Discord</a></li>
                <li><a href="#">Docs</a></li>
                <li><a href="#">Newsletter</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-1">
            <div class="widget">
              <h5>Community</h5>
              <ul>
                <li><a href="#">Community</a></li>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">Brand Assets</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">Mailing List</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-1">
            <div class="widget">
              <h5>Newsletter</h5>
              <p>Signup for our newsletter to get the latest news in your inbox.</p>
              <form action="" class="row form-dark" id="form_subscribe" method="post" name="form_subscribe">
                <div class="col text-center">
                  <input class="form-control" id="txt_subscribe" name="txt_subscribe" placeholder="enter your email"
                    type="text" /> <a href="#" id="btn-subscribe"><i class="arrow_right bg-color-secondary"></i></a>
                  <div class="clearfix"></div>
                </div>
              </form>
              <div class="spacer-10"></div>
              <small>Your email is safe with us. We don't spam.</small>
            </div>
          </div>
        </div>
      </div>
      <div class="subfooter">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="de-flex">
                <div class="de-flex-col">
                  <a href="#">
                    <span class="copy">&copy;
                      Copyright 2021 - CryptoHauntoo by Designesia</span>
                  </a>
                </div>
                <div class="de-flex-col">
                  <div class="social-icons">
                    <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                    <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                    <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer close -->

    <div id="selector">
      <span id="dark-mode">
        Switch Dark Scheme
      </span>
    </div>
  </div>
</div>