.l1 {
  font-size: 50px;
  display: block;
  width: 100%;
  margin-bottom: 60px;
  margin-top: 20px;
  text-align: center;
}

.b1 {
  padding: 20px;
  width: 100%;
}

.button {
  display: inline-block;
  padding: 25px 15px;
  font-size: 50px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 100%;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}